RAG System.json
{
  "name": "RAG System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "id": "a7770022-5982-49cd-973e-13346dfd16c9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15jsrrGkmjyXnN4i-68GNg7fn2reNgkEM",
            "mode": "list",
            "cachedResultName": "school n8n test",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15jsrrGkmjyXnN4i-68GNg7fn2reNgkEM"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        -80
      ],
      "id": "5b0ef30b-dcf9-4f50-a5d1-3b3c1d367a92",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ryazsVvQhLK6vMsH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -80
      ],
      "id": "6db62b6e-76d1-444d-907b-ba5b2d229f74",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ryazsVvQhLK6vMsH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "31925f05-3d33-4d4b-b09e-458b460a7708",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Gf8BVEyeDPqFZb4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        240
      ],
      "id": "92e5c880-d851-4904-87cc-af7e58170a25",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "file id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        992,
        240
      ],
      "id": "9931e9ff-8e84-4590-9eb0-21ecca6b98bf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1072,
        448
      ],
      "id": "32246138-1b81-4054-ab66-4cc77c2395ff",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        656
      ],
      "id": "887870b2-37c9-47fd-b770-3da51c019522",
      "name": "Telegram Trigger",
      "webhookId": "c2759564-c904-4a6b-bc5a-ef6538f06060",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        656
      ],
      "id": "bf1a5f07-d478-4de7-8e32-01522c031372",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -256,
        880
      ],
      "id": "3e03d2b9-d84e-49b8-bf7a-1e0eb77e6578",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -128,
        880
      ],
      "id": "526feca2-8e15-453d-b7c4-9d5e71d7672b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the school knowledge base and retrieve relevant information about students, teachers, classes, schedules, and school policies.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        880
      ],
      "id": "61938aee-25bd-4de1-bfcc-01f30a2463f1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Gf8BVEyeDPqFZb4K",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        1088
      ],
      "id": "eb0fb1e4-453a-4413-b6b4-e6e536dd9708",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "pHLhjHrhYEXD3lwN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        656
      ],
      "id": "cac56931-a957-4867-90ed-e30e8840497a",
      "name": "Send a text message",
      "webhookId": "b4f55cae-903c-4381-8ff8-57648319702b",
      "credentials": {
        "telegramApi": {
          "id": "DYOe2jaQl1U0IgK4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Insert Data\n",
        "height": 720,
        "width": 1956,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -128
      ],
      "id": "42a95779-76ce-478e-83cc-028d70e236b0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Call The Data From Telegram",
        "height": 640,
        "width": 1232,
        "color": "#560B0B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        592
      ],
      "id": "c43ea6e8-5ab7-4932-a8d7-ed0c11a0d73c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g",
          "mode": "list",
          "cachedResultName": "school n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -80
      ],
      "id": "38d7a842-d866-439b-bcf5-8e49766e42bb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7do9YblieP2zHg75",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g",
          "mode": "list",
          "cachedResultName": "school n8n test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fg5-H9olJPVnBL3PHArvcr71s2b-GPyWDnxd04ZJ20g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        112
      ],
      "id": "e516aeae-af54-4938-b32d-8147bdd37712",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7do9YblieP2zHg75",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            },
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -32,
        -16
      ],
      "id": "d0d34686-a7ea-4a49-8203-610eb8fecfc1",
      "name": "Compare Datasets"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        -80
      ],
      "id": "7e9cfe14-e9ed-40c8-be10-abadb24f0006",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        112
      ],
      "id": "e3ce6e7e-8921-4458-9c1d-e6072962f114",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10107fa1-32aa-4285-be8d-b1a30403f917",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "990471da367dc7f06b12082f26d36e145d29d47436cab3fd70b5149b1f5513d8"
  },
  "nodeGroups": [],
  "id": "dMbTLGsa4DQGy8iu",
  "tags": []
}